.Form {
	width: 500px;
	height: fit-content;
	box-shadow: 15px 10px 0px rgba(0, 0, 0, 0.377);
	padding: 20px;
	text-align: center;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #0827f5;
}

.Form button {
	width: 80px;
}

.Form p {
	text-decoration: underline;
	cursor: pointer;
	font-size: small;
	margin: 10px 10px 30px 10px;
}

.errorMessage {
	font-size: small;
	margin: 5px;
}
